<div class="w-full text-center bg-slate-950 text-slate-300 p-3">
    <p style="font-family: 'Inter', sans-serif;" class="flex flex-wrap items-center justify-center gap-1 text-sm">
        <span class="inline-block">
            <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 40 40">
                <path fill="#f78f8f" d="M20 31.441L8.5 37.191 8.5 2.5 31.5 2.5 31.5 37.191z"></path>
                <path fill="#c74343"
                    d="M31,3v33.382l-10.553-5.276L20,30.882l-0.447,0.224L9,36.382V3H31 M32,2H8v36l12-6l12,6V2L32,2z">
                </path>
            </svg>
        </span>
        A curated collection of valuable resources from across the internet hosted with ❤ <b>by <a href="https://resourc-es.vercel.app/">resourc-es</a></b>
    </p>
</div>